---
- name: Deploy Docker web application
  hosts: webservers
  become: yes

  roles:
    - deploy

  post_tasks:
    - name: Final deployment confirmation
      ansible.builtin.debug:
        msg:
          - "Deployment complete!"
          - "App is live at: http://{{ ansible_host }}:8080"
